<%- include ("../../partials/head.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
  <div class="container">
    <hr />
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new"
      >Criar novo artigo</a
    >
    <hr />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach(article =>{ %>
        <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.slug %></td>
          <td><%= article.categoryId %></td>
          <td>
            <a
              href="/admin/articles/edit/<%= article.id %>"
              class="btn btn-warning"
              >Editar</a
            >
            <form
              id="deleteArticle"
              method="post"
              action="/articles/delete"
              style="display: inline"
              onsubmit="return confirmarDelecao()"
            >
              <button
                class="btn btn-danger"
                value="<%= article.id %>"
                name="id"
              >
                Deletar
              </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

<%- include ("../../partials/footer.ejs") %>

<script>
  function confirmarDelecao() {
    const decision = confirm(`Tem certeza que deseja deletar o artigo?`);

    return decision;
  }
</script>
